In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the data
df = pd.read_csv('cps.csv')
df.tail()

Bad key text.parse_math in file /usr/share/matplotlib/mpl-data/matplotlibrc, line 303 ('text.parse_math: True  # Use mathtext if there is an even number of unescaped')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

ValueError: Key grid.color: '"' does not look like a color arg

In [5]:
cps_data = df[['School_ID', 'Short_Name', 'Is_High_School', 'Zip', 'Student_Count_Total', 'College_Enrollment_Rate_School']]

In [5]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
WARNING: Skipping /usr/lib/python3.11/dist-packages/numpy-1.21.5.egg-info due to invalid metadata entry 'name'
Requirement already satisfied: matplotlib in /usr/lib/python3/dist-packages (3.5.2)
WARNING: Skipping /usr/lib/python3.11/dist-packages/numpy-1.21.5.egg-info due to invalid metadata entry 'name'
Note: you may need to restart the kernel to use updated packages.

In [16]:
#Generate new columns for Lowest Grade Offered & Highest Grade Offered
cps_data['Lowest Grade Offered'] = df['Grades_Offered_All'].str.split('-').str[0] 
cps_data['Highest Grade Offered'] = df['Grades_Offered_All'].str.split('-').str[1]

#Generate new column for Starting Hour
cps_data['Starting Hour'] = df['School_Hours'].str.split('-').str[0]

valid_columns = cps_data.select_dtypes(include=['number']).columns

# Fill missing values with mean
cps_data[valid_columns] = cps_data[valid_columns].fillna(cps_data[valid_columns].mean())

#Replace missing values with column mean
#cps_data = cps_data.fillna(cps_data.mean())

#Display first 10 rows of dataframe
cps_data.head(10)

,School_ID,Short_Name,Is_High_School,Zip,Student_Count_Total,College_Enrollment_Rate_School,Lowest Grade Offered,Highest Grade Offered,Starting Hour
0,609952,GREENE,False,60609,415,58.084302,"PK,K,1,2,3,4,5",NaN,08:00 AM
1,609869,LANGFORD,False,60636,241,58.084302,"PK,K,1,2,3,4,5,6,7,8",NaN,08:15 AM
2,609896,DRUMMOND,False,60622,346,58.084302,"PK,K,1,2,3,4,5,6,7,8",NaN,08:30 AM
3,610590,BRONZEVILLE CLASSICAL,False,60609,91,58.084302,"K,1,2",NaN,7:45 AM
4,610087,BLAIR,False,60638,248,58.084302,"PK,K,1,2",NaN,7:30 AM
5,610503,FRAZIER PROSPECTIVE,False,60624,198,58.084302,"K,1,2,3,4,5,6,7,8",NaN,7:45 AM
6,400164,INSTITUTO - LOZANO HS,True,60608,78,21.900000,"9,10,11,12",NaN,8:30 AM
7,610059,MAYER,False,60614,760,58.084302,"PK,K,1,2,3,4,5,6,7,8",NaN,08:30 AM
8,610206,TWAIN,False,60638,1094,58.084302,"PK,K,1,2,3,4,5,6,7,8",NaN,8:30 AM
9,609872,PEREZ,False,60608,318,58.084302,"PK,K,1,2,3,4,5,6,7,8",NaN,08:00 AM

In [ ]:
cps_data = df[['School_ID', 'Short_Name', 'Is_High_School', 'Zip', 'Student_Count_Total', 'College_Enrollment_Rate_School']]

In [ ]:
cps_data = df[['School_ID', 'Short_Name', 'Is_High_School', 'Zip', 'Student_Count_Total', 'College_Enrollment_Rate_School']]

In [8]:
#Mean & Standard Deviation of College Enrollment Rate for High Schools
high_school_enrollment_mean = cps_data.loc[cps_data['Is_High_School']==1, 'College_Enrollment_Rate_School'].mean()
high_school_enrollment_std = cps_data.loc[cps_data['Is_High_School']==1, 'College_Enrollment_Rate_School'].std()
print('Mean & Standard Deviation of College Enrollment Rate for High Schools: ', high_school_enrollment_mean,' & ', high_school_enrollment_std)

Mean & Standard Deviation of College Enrollment Rate for High Schools:  58.08430232558146  &  25.068653822753426

In [9]:
#Mean & Standard Deviation of Student Count Total for non-High Schools
no_high_school_count_mean = cps_data.loc[cps_data['Is_High_School']==0, 'Student_Count_Total'].mean()
no_high_school_count_std = cps_data.loc[cps_data['Is_High_School']==0, 'Student_Count_Total'].std()
print('Mean & Standard Deviation of Student Count Total for non-High Schools: ', no_high_school_count_mean,' & ', no_high_school_count_std)

Mean & Standard Deviation of Student Count Total for non-High Schools:  521.5450733752621  &  268.63577025549176

In [2]:
#Distribution of starting hours for all schools
cps_data['Starting Hour'].value_counts().sort_index()

plt.hist(cps_data['Starting_Hour'])
plt.title('Distribution of Starting Hours for All Schools')
plt.xlabel('Starting Hour')
plt.ylabel('Frequency')
plt.show()

NameError: name 'cps_data' is not defined

In [12]:

#Number of schools outside of the Loop Neighborhood (i.e., outside of zip codes 60601, 60602, 60603, 60604, 60605, 60606, 60607, and 60616): 
loop_zip_codes = [60601, 60602, 60603, 60604, 60605, 60606, 60607, 60616]
non_loop_zip_count = cps_data.loc[~cps_data['Zip'].isin(loop_zip_codes)].shape[0]
print('Number of schools outside of the Loop Neighborhood: ', non_loop_zip_count)

Number of schools outside of the Loop Neighborhood:  634